.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    margin: 0;
    font-weight: 600;
  }

  button {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}